<mat-form-field [appearance]="appearance" class="w-full">
  <mat-label>{{ label }}</mat-label>

  <input
    matInput
    [matDatepicker]="picker"
    [formControl]="control"
    [placeholder]="placeholder"
    [min]="minDate"
    [max]="maxDate"
    [required]="required"
    [matDatepickerFilter]="filterFn"
  />

  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker
    #picker
    [startView]="startView"
    [touchUi]="touchUi"
    [startAt]="startAt"
    [disabled]="disabled"
    [opened]="opened"
  ></mat-datepicker>

  <mat-error *ngIf="control.invalid && (control.dirty || control.touched)">
    <span *ngIf="control.errors?.['required']">This field is required.</span>
  </mat-error>
</mat-form-field>
