<div class="min-h-screen bg-gray-100 flex items-center justify-center p-4">
  <div class="w-full bg-white rounded-3xl shadow-2xl overflow-hidden fit-card-layout width-content">
    <div class="card-layout h-px card-height ">


      <!-- Left Side - Image and Description -->
      <div class="md:w-1/2 relative card-image">
        <div class="h-64 md:h-full bg-cover bg-center"
          [ngStyle]="{ 'background-image': 'url(assets/images/doctor-img.jpg)' }">
          <div class="absolute inset-0 bg-black bg-opacity-40 "></div>
        </div>

        <!-- Description Overlay -->

        <div class="relative">
          <!-- Blur background gradient -->
          <div
            class="left-content-card absolute bottom-6 left-6 right-6 rounded-lg pointer-events-none blur-overlay z-0 mb-5">
            <!-- Main content -->
            <p class="text-sm text-gray-700 leading-relaxed">
              This is an internal admin panel for managing day-to-day operations of a clinic or healthcare facility.
              It serves multiple roles such as Admins, Doctors, Receptionists, Salespersons, and Super Admins.
              The goal is to provide an efficient, secure, and user-friendly interface to manage patients,
              appointments, leads, and resources.
            </p>
          </div>
        </div>

        <!-- <div class="absolute bottom-6 left-6 right-6 bg-white bg-opacity-40 p-4 rounded-lg">
          <p class="text-sm text-gray-700 leading-relaxed">
            This is an internal admin panel for managing day-to-day operations of a clinic or healthcare facility.
            It serves multiple roles such as Admins, Doctors, Receptionists, Salespersons, and Super Admins.
            The goal is to provide an efficient, secure, and user-friendly interface to manage patients,
            appointments, leads, and resources.
          </p>
        </div> -->
      </div>

      <!-- Right Side - Content Area -->
      <div class="p-8 right-side-card flex flex-col justify-center">

        <!-- Logo -->
        <div class="text-left">
          <div class="flex items-left mb-8">
            <img src="assets/images/logo.png" alt="NewLife Logo" class=" h-14 w-200 object-contain" />
          </div>
        </div>


        <!-- Login Form -->
        <ng-container *ngIf="!showTwoFactor()">
          <div class="text-left mb-6">
            <h2 class="font-heading font-semibold login-2fa-margin font-weight">Welcome</h2>
            <p class="text-gray-600 login-form-media">Discover a better way of spendings with Newlife</p>
          </div>

          <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">
            <!-- Email Field -->
            <div class="mb-4">
              <mat-form-field appearance="outline" class="w-full input-field">
                <input matInput type="email" formControlName="email" placeholder="Enter your Email">
                <mat-icon matPrefix class="text-gray-400 mr-2">mail</mat-icon>
                <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
                  Email is required
                </mat-error>
                <mat-error *ngIf="loginForm.get('email')?.hasError('email') || loginForm.get('email')?.hasError('invalidEmail')">
                  Please enter a valid email address
                </mat-error>
              </mat-form-field>
            </div>

            <!-- Password Field -->
            <div>
              <mat-form-field appearance="outline" class="w-full input-field">
                <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password"
                  placeholder="Password">
                <mat-icon matPrefix class="text-gray-400 mr-2">lock</mat-icon>
                <mat-icon matSuffix (click)="hidePassword = !hidePassword" class="cursor-pointer text-gray-400">
                  {{hidePassword ? 'visibility_off' : 'visibility'}}
                </mat-icon>
                <mat-error class="validation-message" *ngIf="loginForm.get('password')?.hasError('required')">
                  Password is required
                </mat-error>
                <mat-error class="validation-message" *ngIf="loginForm.get('password')?.hasError('minlength')">
                  Password must be at least 6 characters long
                </mat-error>
              </mat-form-field>
            </div>

            <!-- Remember Me & Forgot Password : Commented for future use-->
            <!-- <div class="flex items-center justify-between mb-8 remember-me-media">
                <mat-checkbox formControlName="rememberMe" class="text-sm">
                  Remember Me
                </mat-checkbox>
                <button type="button" (click)="forgotPassword()"
                  class="text-sm text-gray-600 hover:text-indigo-600 transition-colors underline remember-me-media ">
                  Forget Password?
                </button>
              </div> -->

            <!-- Sign In Button -->
            <button type="submit" mat-raised-button [disabled]="loginForm.invalid || isLoading()"
              class="login-button cursor-pointer" [ngClass]="{'login-button-disabled': loginForm.invalid || isLoading()}">
              {{isLoading() ? "Signing In..." : "Sign In"}}
            </button>
          </form>
        </ng-container>

        <!-- 2FA Form -->
        <ng-container *ngIf="showTwoFactor()">
          <div class="text-left mb-8">
            <h2 class="font-2fa-heading font-semibold login-2fa-margin font-weight">Two-Factor
              Authentication</h2>
            <p class="text-gray-600 m-0">We've sent a 6-digit code to {{ userEmail }}</p>
          </div>

          <form [formGroup]="twoFactorForm" (ngSubmit)="on2FASubmit()">
            <!-- 6-Digit Code Input -->
            <div class="mb-2">
              <div class="flex justify-between space-x-3">
                <mat-form-field appearance="outline" class="w-full input-field">
                  <input matInput type="text" formControlName="code" maxlength="6" inputmode="numeric" pattern="[0-9]*" autocomplete="one-time-code" (input)="onCodeInput($event)"/>
                  <mat-error class="validation-message" *ngIf="twoFactorForm.get('code')?.invalid && twoFactorForm.get('code')?.touched">
                    Please enter a valid 6-digit code
                  </mat-error>
                </mat-form-field>
              </div>
            </div>

            <!-- Resend Code -->
            <div class="text-right text-sm text-gray-600 mb-8">
              <div class="flex justify-end">
                <span class="mr-2">Didn't receive code?</span>
                <button type="button" (click)="resendCode()" *ngIf="canResend()" [class.text-indigo-600]="canResend()"
                  [class.hover:text-indigo-700]="canResend()" [class.text-gray-400]="!canResend()"
                  [class.cursor-not-allowed]="!canResend()" class="font-medium transition-colors Resend-text-button">
                  Resend
                </button>
                <span *ngIf="!canResend()" class="text-gray-500">
                  Resend in {{ formattedCountdown() }}
                </span>
              </div>
            </div>

  <!-- Submit Button -->
  <button
    type="submit"
    mat-raised-button
    [disabled]="twoFactorForm.invalid || isLoading()"
    class="login-button cursor-pointer" [ngClass]="{'login-button-disabled': twoFactorForm.invalid || isLoading()}"
  >
    {{ isLoading() ? 'Submitting...' : 'Submit' }}
  </button>
</form>

        </ng-container>

      </div>
    </div>
  </div>
</div>
