@use "variables" as *;
.width-content {
    max-width: 400px; 
    width: 100%;
}

.card-layout {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    padding: 2rem; 
}

.input-field {
    display: block; 
}

.login-button {
  color: #FFFFFF !important;
  background-color: $primary-color !important;
  width: 100%;
  height: 56px;
  border-radius: 8px !important;
  font-weight: 500 !important;
  font-size: 18px !important;
}

.card-padding{
    padding:0px 12px 12px 12px;
}