<div class="min-h-screen bg-gray-100 flex items-center justify-center p-4">
    <div class="w-full bg-white rounded-3xl shadow-2xl overflow-hidden fit-card-layout width-content">
        <div class="card-layout card-height">
            <div class="card-padding w-full flex flex-col items-center">
                <h2 class="text-3xl font-bold text-gray-800 pb-5">Reset Password</h2>
                
                <form *ngIf="resetForm" [formGroup]="resetForm" (ngSubmit)="onSubmit()" class="w-full max-w-sm">
                    <div class="mb-4">
                        <mat-form-field appearance="outline" class="w-full input-field">
                            <input matInput type="email" formControlName="email" placeholder="Enter your Email">
                            <mat-icon matPrefix class="text-gray-400 mr-2">mail</mat-icon>
                            <mat-error *ngIf="resetForm.get('email')?.hasError('required')">
                                Email is required
                            </mat-error>
                            <mat-error *ngIf="resetForm.get('email')?.hasError('email')">
                                Please enter a valid email address
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="mb-4">
                        <mat-form-field appearance="outline" class="w-full input-field">
                            <input matInput [type]="hideOld ? 'password' : 'text'" formControlName="oldPassword"
                                placeholder="Old Password">
                            <mat-icon matPrefix class="text-gray-400 mr-2">lock</mat-icon>
                            <mat-icon matSuffix (click)="toggleHideOld($event)" class="cursor-pointer text-gray-400"> 
                                {{hideOld ? 'visibility_off' : 'visibility'}}
                            </mat-icon>
                            </mat-form-field>
                    </div>
                    
                    <div class="mb-6">
                        <mat-form-field appearance="outline" class="w-full input-field">
                            <input matInput [type]="hideNew ? 'password' : 'text'" formControlName="newPassword" 
                                placeholder="New Password"> 
                            <mat-icon matPrefix class="text-gray-400 mr-2">lock</mat-icon>
                            <mat-icon matSuffix (click)="toggleHideNew($event)" class="cursor-pointer text-gray-400"> 
                                {{hideNew ? 'visibility_off' : 'visibility'}}
                            </mat-icon>
                            <mat-error class="validation-message" *ngIf="resetForm.get('newPassword')?.hasError('required')">
                                New Password is required
                            </mat-error>
                            <mat-error class="validation-message" *ngIf="resetForm.get('newPassword')?.hasError('minlength')">
                                Password must be at least 12 characters long
                            </mat-error>
                            <mat-error class="validation-message" *ngIf="resetForm.get('newPassword')?.hasError('requiresNonAlphanumeric')">
                                Password must have a non-alphanumeric character.
                            </mat-error>
                            <mat-error class="validation-message" *ngIf="resetForm.get('newPassword')?.hasError('requiresLower')">
                                Password must have at least one lowercase letter.
                            </mat-error>
                            <mat-error class="validation-message" *ngIf="resetForm.get('newPassword')?.hasError('requiresUpper')">
                                Password must have at least one uppercase letter.
                            </mat-error>
                            <mat-error class="validation-message" *ngIf="resetForm.get('newPassword')?.hasError('requiresDigit')">
                                Password must have at least one digit ('0'-'9').
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <button type="submit" mat-raised-button [disabled]="isLoading()"
                        class="login-button w-full cursor-pointer">
                        {{isLoading() ? "Submitting..." : "Submit"}}
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>