// src/styles/_variables.scss

// Environment setting
$env: "staging"; // Change to "production" or "QA" as needed

// primary color
$primary-color:  #165BB5;
$save-color: #16A34A;

// Color variables
$secondary-color: #F1EFEE;
$header-white: #ffffff;
$card-color: #FAF8F4;
$sidebar-color: #31322B;
$table-header-color: #EEECEB !important;
$light-primary-color: #D4FAFF;
$form-input-border-color: #CBD5E1;
$disabled-border-color: #B0B0B0;
$disabled-text-color: #B0B0B0;
$disabled-pri-bg-color: #B0B0B0;
$disabled-pri-text-color:#f0f0f0;
$custom-table-header-bor: #E6E6E6;
$uploaded-card: #E5E7EB;

// Typography
$font-family: "Nunito Sans", sans-serif;

// Layout variables
$float-right: right;
$header-height: 70px;
$header-box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.15);

$gray-box-shadow:
  0px 10px 30px #131c3c1a,
  0px 4px 40px #00000008;

$side-nav-width: 280px;
$side-nav-width-laptop: 230px;
$side-nav-folded: 80px;
$side-nav-box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.15);

$top-nav-height: 55px;
$layout-content-gutter: 25px;
$layout-content-gutter-sm: 15px;
$footer-height: 60px;

$content-height-offset: $header-height + $footer-height;
$content-max-width: 1400px;
