@use "variables" as *;

:host ::ng-deep .primary-btn-add.mat-mdc-unelevated-button,
.mat-mdc-unelevated-button .mdc-button__ripple {
    border-radius: 6px;
}
::ng-deep input.mat-input-element:disabled {
  background-color: transparent !important;
}


::ng-deep .mat-mdc-paginator-container {
  background-color: transparent !important;
  box-shadow: none !important; // optional: removes any shadow
}
