@use "variables" as *;

:host {
  display: block;
  height: 100vh;
}

.mat-toolbar {
  position: sticky;
  margin: 16px;
  z-index: 1000;
  background: $header-white !important;
  color: #374151 !important;
  width: calc(100% - 32px);
  border-radius: 8px;
  align-items: center;
}

.profile-button {
  background-color: $primary-color;
  color: #000;
  border-radius: 16px;
  width: 40px;
  height: 40px;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mat-sidenav-container {
  background: transparent;
}


.sidebar-nav {
  border-right: none;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.1);
  width: auto !important;
  &:not(.show){
    overflow-y: hidden;
  }
  &.show{
    overflow: visible;
  }
}

:host ::ng-deep .mat-drawer-inner-container {
  overflow: visible;
}

.mat-sidenav {
  position: fixed;
  margin-top: 96px;
  border-radius: 16px;
}

.mat-sidenav-container {
  margin-left: 16px;
}

.sidebar-open {
  position: absolute;
  margin-top: 96px;
  margin-left: 272px !important;
  margin-right: 16px;
  width: calc(100% - 272px - 16px);
  background-color: transparent;
   height: calc(100vh - 96px);
     overflow-y: auto;
}

.sidebar-open.collapsed-sidenav-content {
  margin-left: 82px !important;
  margin-right: 16px;
  width: calc(100% - 82px - 16px);
  box-sizing: border-box;
}


.logo-image {
  width: 100%;
  height: auto;
  align-items: center;
  text-align: center;
}

.router-link-active {
  background-color: #374151 !important;
}

.mat-icon {
  color: inherit;
}

.mat-menu-item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.rotate-90 {
  transform: rotate(90deg);
}


.toolbar-background {
  background-color: aliceblue;
}

.bg-color {
  background-color: $secondary-color !important;
}

// Custom styles for the responsive table
@media (max-width: 768px) {
  .mat-sidenav-content {
    margin-left: 0 !important;
    width: 100% !important;
    box-sizing: border-box;
  }


  .sidebar-open.collapsed-sidenav-content {
    margin-left: 0 !important;
  }
}
