<div class="main-layout-shell">
  <mat-sidenav-container class="layout-container">
    <mat-sidenav mode="side" [opened]="sidenavOpen" class="sidebar-nav" [ngClass]="{'collapsed': isCollapsed}">
      <app-sidebar [isCollapsed]="isCollapsed" (toggleSidebar)="toggleCollapse()"></app-sidebar>
    </mat-sidenav>

    <mat-sidenav-content class="content-panel" [ngClass]="{'collapsed': isCollapsed}">
      <div class="content-wrapper" #contentWrapper>
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
