<div class="h-screen flex flex-col">
  <!-- Top Navbar -->
  <app-top-navbar class="top-navbar" (toggleSidebar)="toggleCollapse()"></app-top-navbar>

  <!-- Main Content Area -->
 <div class="flex-1 flex">
    <!-- Side Navigation -->
    <mat-sidenav-container class="flex-1">
      <mat-sidenav mode="side" [opened]="sidenavOpen" class="sidebar-nav" [ngClass]="{'show': isCollapsed}">
        <app-sidebar [isCollapsed]="isCollapsed"></app-sidebar>
      </mat-sidenav>

      <!-- Main Content -->
      <mat-sidenav-content class="bg-gray-50 sidebar-open" [ngClass]="{'collapsed-sidenav-content': isCollapsed}">

        <div class="mx-auto">
          <router-outlet></router-outlet>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</div>
