<app-patient-navigation-bar [isEditMode]="true" [isSaving]="false" [isActive]="undefined" [patientId]="patientId"
  (close)="onClose()" [activeView]="'medical-recommandation'" (save)="onSubmit()" (addPatient)="onClickAddPatient()"
  (saveAndClose)="onSaveAndClose()" (toggleActiveStatus)="togglePatientActiveStatus($event)">
</app-patient-navigation-bar>

<div class="bg-white p-6 rounded-lg shadow border border-gray-200 mid-body-scrollable-height-tabs">
  <form [formGroup]="medicalRecommendationForm" (ngSubmit)="onSubmit()">
    <div class="mb-4 flex items-center justify-between">
      <!-- Back button (left) -->
      <button mat-stroked-button type="button" (click)="goBackToRecommendationView()"
        class="flex items-center gap-1 text-sm secondry-button-add">
        <mat-icon>arrow_back</mat-icon>
        Back
      </button>

      <!-- Submit button (right) -->
      <button mat-flat-button class="primary-btn" type="submit">
        Save
      </button>
    </div>
    <!-- INPUT FIELDS: 3 columns grid -->
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-x-6">
      <!-- Consultation Date -->
      <div class="space-y-2 custom-text-box">
        <label class="block text-sm font-medium text-gray-700">
          Consultation Date <span class="text-red-500">*</span>
        </label>
        <mat-form-field appearance="outline" class="w-full form-input form-input-text">
          <input matInput [matDatepicker]="consultationPicker" formControlName="consultationDate"
            placeholder="YYYY-MM-DD" readonly (focus)="consultationPicker.open()" (click)="consultationPicker.open()" />
          <mat-datepicker-toggle matSuffix [for]="consultationPicker"></mat-datepicker-toggle>
          <mat-datepicker #consultationPicker></mat-datepicker>
          <mat-error *ngIf="isFieldInvalid('consultationDate')">
            {{ getFieldError('consultationDate') }}
          </mat-error>
        </mat-form-field>
      </div>


      <div class="space-y-2 custom-text-box">
        <label class="block text-sm font-medium text-gray-700">
          Medication Type <span class="text-red-500">*</span>
        </label>
        <mat-form-field appearance="outline" class="w-full form-input form-input-text">
          <mat-select formControlName="medicationTypeId" placeholder="Select Medication Type"
            (selectionChange)="onMedicationTypeChange($event.value)">
            <mat-option *ngFor="let medType of medicationTypeList()" [value]="medType.id">
              {{ medType.value }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="isFieldInvalid('medicationTypeId')">
            {{ getFieldError('medicationTypeId') }}
          </mat-error>
        </mat-form-field>
      </div>

      <div *ngIf="isOtherMedicationTypeSelected" class="space-y-2 custom-text-box">
        <label class="block text-sm font-medium text-gray-700">
          Other Medication Type
        </label>
        <mat-form-field appearance="outline" class="w-full form-input form-input-text">
          <input matInput formControlName="otherMedicationType" placeholder="Type medication type..." />
        </mat-form-field>
      </div>


      <!-- Title -->
      <div class="space-y-2 custom-text-box">
        <label class="block text-sm font-medium text-gray-700">Title</label>
        <mat-form-field appearance="outline" class="w-full form-input form-input-text">
          <input matInput formControlName="title" placeholder="Enter Title" />
          <mat-error *ngIf="isFieldInvalid('title')">{{ getFieldError('title') }}</mat-error>
        </mat-form-field>
      </div>

      <!-- PMHx -->
      <div class="space-y-2 custom-text-box">
        <label class="block text-sm font-medium text-gray-700">PMHx</label>
        <mat-form-field appearance="outline" class="w-full form-input form-input-text">
          <input matInput formControlName="pMHx" placeholder="Past Medical History" />
          <mat-error *ngIf="isFieldInvalid('pMHx')">{{ getFieldError('pMHx') }}</mat-error>
        </mat-form-field>
      </div>

      <!-- PSHx -->
      <div class="space-y-2 custom-text-box">
        <label class="block text-sm font-medium text-gray-700">PSHx</label>
        <mat-form-field appearance="outline" class="w-full form-input form-input-text">
          <input matInput formControlName="pSHx" placeholder="Past Surgical History" />
          <mat-error *ngIf="isFieldInvalid('pSHx')">{{ getFieldError('pSHx') }}</mat-error>
        </mat-form-field>
      </div>

      <!-- FHx -->
      <div class="space-y-2 custom-text-box">
        <label class="block text-sm font-medium text-gray-700">FHx</label>
        <mat-form-field appearance="outline" class="w-full form-input form-input-text">
          <input matInput formControlName="fHx" placeholder="Family History" />
          <mat-error *ngIf="isFieldInvalid('fHx')">{{ getFieldError('fHx') }}</mat-error>
        </mat-form-field>
      </div>

      <!-- Supplements -->
      <div class="space-y-2 custom-text-box">
        <label class="block text-sm font-medium text-gray-700">Supplements</label>
        <mat-form-field appearance="outline" class="w-full form-input form-input-text">
          <input matInput formControlName="suppliments" placeholder="Supplements" />
          <mat-error *ngIf="isFieldInvalid('suppliments')">{{ getFieldError('suppliments') }}</mat-error>
        </mat-form-field>
      </div>

      <!-- Medication -->
      <div class="space-y-2 custom-text-box">
        <label class="block text-sm font-medium text-gray-700">Medication</label>
        <mat-form-field appearance="outline" class="w-full form-input form-input-text">
          <input matInput formControlName="medication" placeholder="Medication" />
          <mat-error *ngIf="isFieldInvalid('medication')">{{ getFieldError('medication') }}</mat-error>
        </mat-form-field>
      </div>

      <!-- Social History -->
      <div class="space-y-2 custom-text-box">
        <label class="block text-sm font-medium text-gray-700">Social History</label>
        <mat-form-field appearance="outline" class="w-full form-input form-input-text">
          <input matInput formControlName="socialHistory" placeholder="Social History" />
          <mat-error *ngIf="isFieldInvalid('socialHistory')">{{ getFieldError('socialHistory') }}</mat-error>
        </mat-form-field>
      </div>

      <!-- Allergies -->
      <div class="space-y-2 custom-text-box">
        <label class="block text-sm font-medium text-gray-700">Allergies/Reaction</label>
        <mat-form-field appearance="outline" class="w-full form-input form-input-text">
          <input matInput formControlName="allergies" placeholder="Allergies/Reaction" />
          <mat-error *ngIf="isFieldInvalid('allergies')">{{ getFieldError('allergies') }}</mat-error>
        </mat-form-field>
      </div>

      <!-- HRT -->
      <div class="space-y-2 custom-text-box">
        <label class="block text-sm font-medium text-gray-700">HRT</label>
        <mat-form-field appearance="outline" class="w-full form-input form-input-text">
          <input matInput formControlName="hrt" placeholder="HRT" />
          <mat-error *ngIf="isFieldInvalid('hrt')">{{ getFieldError('hrt') }}</mat-error>
        </mat-form-field>
      </div>

      <!-- Follow Up Lab Test -->
      <div class="space-y-2 custom-text-box">
        <label class="block text-sm font-medium text-gray-700">Check F/U lab test</label>
        <mat-form-field appearance="outline" class="w-full form-input form-input-text">
          <mat-select formControlName="followUpLabTestId" placeholder="Select Check F/U lab test">
            <mat-option *ngFor="let followUp of followUpLabTestList" [value]="followUp.id">
              {{ followUp.value }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="isFieldInvalid('followUpLabTestId')">{{ getFieldError('followUpLabTestId') }}</mat-error>
        </mat-form-field>
      </div>
    </div> <!-- end grid 3 cols -->

    <!-- TEXTAREAS: 2 columns -->
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-x-6 gap-y-4">
      <!-- Subjective -->
      <div>
        <label class="block text-sm font-medium text-gray-700">Subjective</label>
        <mat-form-field appearance="outline" class="w-full form-des-input">
          <textarea matInput formControlName="subjective" placeholder="Subjective details" rows="4"></textarea>
          <mat-error *ngIf="isFieldInvalid('subjective')">{{ getFieldError('subjective') }}</mat-error>
        </mat-form-field>
      </div>

      <!-- Objective -->
      <div>
        <label class="block text-sm font-medium text-gray-700">Objective</label>
        <mat-form-field appearance="outline" class="w-full form-des-input">
          <textarea matInput formControlName="objective" placeholder="Objective details" rows="4"></textarea>
          <mat-error *ngIf="isFieldInvalid('objective')">{{ getFieldError('objective') }}</mat-error>
        </mat-form-field>
      </div>

      <!-- Assessment -->
      <div>
        <label class="block text-sm font-medium text-gray-700">Assessment</label>
        <mat-form-field appearance="outline" class="w-full form-des-input">
          <textarea matInput formControlName="assessment" placeholder="Assessment details" rows="4"></textarea>
          <mat-error *ngIf="isFieldInvalid('assessment')">{{ getFieldError('assessment') }}</mat-error>
        </mat-form-field>
      </div>

      <!-- Plan -->
      <div>
        <label class="block text-sm font-medium text-gray-700">Plan</label>
        <mat-form-field appearance="outline" class="w-full form-des-input">
          <textarea matInput formControlName="plan" placeholder="Plan details" rows="4"></textarea>
          <mat-error *ngIf="isFieldInvalid('plan')">{{ getFieldError('plan') }}</mat-error>
        </mat-form-field>
      </div>

      <!-- Social Point -->
      <div>
        <label class="block text-sm font-medium text-gray-700">Social Point</label>
        <mat-form-field appearance="outline" class="w-full form-des-input">
          <textarea matInput formControlName="socialPoint" placeholder="Social points" rows="4"></textarea>
          <mat-error *ngIf="isFieldInvalid('socialPoint')">{{ getFieldError('socialPoint') }}</mat-error>
        </mat-form-field>
      </div>

      <!-- Notes -->
      <div>
        <label class="block text-sm font-medium text-gray-700">Notes</label>
        <mat-form-field appearance="outline" class="w-full form-des-input">
          <textarea matInput formControlName="notes" placeholder="Additional notes" rows="4"></textarea>
          <mat-error *ngIf="isFieldInvalid('notes')">{{ getFieldError('notes') }}</mat-error>
        </mat-form-field>
      </div>

    </div> <!-- end textarea grid -->



  </form>
</div>