.sidebar-expanded {
  width: 16rem; /* 64 */
}
.sidebar-collapsed {
  width: 4rem; /* 16 */
}
.nav-item-children{
  margin-left: 2rem; /* 8 */
  &.overlay-show {
    margin-left: 4rem; /* 8 */
    position: absolute;
    top: 0rem;
    bottom: 3rem;
    >div{
      background-color: #1f2937 !important;
      width: 11rem;
    }
  }
}
.rotate-90{
  rotate: 90deg;
}

/* Custom scrollbar */
.overflow-y-auto::-webkit-scrollbar {
  width: 5px;
}

.overflow-y-auto::-webkit-scrollbar-track {
  background: transparent;
}

.overflow-y-auto::-webkit-scrollbar-thumb {
  background-color: #6b7280;
  border-radius: 2px;
  border: none;
}

.overflow-y-auto::-webkit-scrollbar-thumb:hover {
  background: #9ca3af;
}

.sidebar-collapsed .nav-item-children {
  display: none !important;
}
