<div class="relative">

    <!-- Header Section -->
    <div class="flex items-center flex-wrap gap-4 justify-between mb-6 table-view-header">
        <div class="flex items-center flex-wrap">
            <h2 class="list-page-heading">Bulk SMS Approvals</h2>
            <div class="flex items-center space-x-3 filter-input search-box search-box-dsk ml-6">
                <div class="relative">
                    <mat-icon class="absolute left-3 top-1/2 transform -translate-y-1/2 text-gray-400">search</mat-icon>
                    <input matInput type="text" placeholder="Filter by subject, message, created by, date"
                        [(ngModel)]="filterKeyword" (input)="applyFilter()" [disabled]="isLoading()"
                        class="pl-10 pr-4 py-2 border border-gray-300 rounded-md w-64" />
                </div>
            </div>
            <div class="flex items-center space-x-3 w-full filter-input search-box-mb">
                <!-- Search Input -->
                <div class="relative">
                    <mat-icon class="absolute left-3 top-1/2 transform -translate-y-1/2 text-gray-400">search</mat-icon>
                    <input matInput type="text" placeholder="Filter by subject, message, created by, date"
                        [(ngModel)]="filterKeyword" (input)="applyFilter()" [disabled]="isLoading()"
                        class="pl-10 pr-4 py-2 border border-gray-300 rounded-md w-64" />

                </div>
            </div>
        </div>
    </div>

    <!-- Loading Spinner -->
    <div *ngIf="isLoading()"
        class="absolute inset-0 bg-white bg-opacity-75 flex items-center justify-center z-10 rounded-lg">
        <mat-spinner diameter="40"></mat-spinner>
    </div>

    <!-- Bulk SMS Table -->
    <div class="table-container custom-table-view" [class.opacity-50]="isLoading()">
        <table mat-table [dataSource]="dataSource" matSort class="w-full custom-table mat-elevation-z0">

            <!-- Subject Column -->
            <ng-container matColumnDef="relatedTo">
                <th mat-header-cell *matHeaderCellDef
                    class="!text-left !py-3 !px-4 rounded-tl-xl rounded-bl-xl font-medium text-gray-700">Related To</th>
                <td mat-cell *matCellDef="let element">{{ element.isPatient ? 'Patient' : 'Lead' }}</td>
            </ng-container>

            <ng-container matColumnDef="subject">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Subject</th>
                <td mat-cell *matCellDef="let element"><span class="primary-text-color hover:underline cursor-pointer"
                        (click)="onEdit(element)">{{
                        element.subject }}</span></td>
            </ng-container>

            <!-- Message Column -->
            <ng-container matColumnDef="message">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Message</th>
                <td mat-cell *matCellDef="let element">{{ element.message | slice:0:75 }}<span
                        *ngIf="element.message && element.message.length>75">...</span></td>
            </ng-container>

            <!-- Created By Column -->
            <ng-container matColumnDef="createdBy">
                <th mat-header-cell *matHeaderCellDef>Created By</th>
                <td mat-cell *matCellDef="let element">{{ element.createdByUser }}</td>
            </ng-container>

            <!-- Created At Column -->
            <ng-container matColumnDef="createdAt">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Created At</th>
                <td mat-cell *matCellDef="let element">
                    {{ element.createdAt | date:'medium' }}
                </td>
            </ng-container>

            <!-- Status Column -->
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
                <td mat-cell *matCellDef="let row">
                    <span class="px-2 py-1 rounded-full text-sm font-semibold"
                        [ngClass]="getStatusClassByEnum(row.status)">
                        {{ getStatusDisplayText(row.status) }}
                    </span>
                </td>
            </ng-container>


            <!-- Actions Column -->
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef class="text-center rounded-tr-xl rounded-br-xl">Actions</th>
                <td mat-cell *matCellDef="let row" class="text-center">
                    <button mat-icon-button [matMenuTriggerFor]="actionMenu" (click)="activeRow = row"
                        [disabled]="isLoading() ">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                </td>
            </ng-container>

            <!-- Header and Row Definitions -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
    </div>

    <div *ngIf="!isLoading() && dataSource.filteredData.length === 0" class="text-center py-12">
        <div class="flex flex-col items-center">
            <mat-icon class="text-gray-400 text-6xl mb-2">description</mat-icon>
            <h3 class="text-lg font-semibold">No bulk SMS found</h3>
        </div>
    </div>

    <!-- Paginator -->
    <div class="main-paginator">
        <div class="paginator-section p-0">
            <mat-paginator #paginator [pageSizeOptions]="[50, 100, 250, 500]" [pageSize]="100"
                [showFirstLastButtons]="true" [length]="dataSource.filteredData.length || 0" [disabled]="isLoading()"
                class="mat-mdc-paginator-container disabled:opacity-50">
            </mat-paginator>
        </div>
    </div>
</div>
<mat-menu #actionMenu="matMenu">
    <button mat-menu-item (click)="onEdit(activeRow!)">
        <span>Edit</span>
    </button>
    <button mat-menu-item (click)="activeRow && onDelete(activeRow!)" class="text-red-600">
        <span>Delete</span>
    </button>

</mat-menu>