mat-mdc-table {
    background: transparent;
}

.mat-mdc-header-cell {
    font-weight: 600;
    color: #374151;
}

.mat-mdc-cell {
    color: #111827;
}

.mat-mdc-row:hover {
    background-color: #f9fafb;
}

::ng-deep .mat-mdc-card {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06) !important;
}