<app-full-page-loader [visible]="isLoadingPage()" />
<div
  class="flex flex-wrap items-center justify-between sticky top-0 z-10 rounded-md shadow-sm mb-4 bg-white overflow-hidden px-4 pb-2">
  <div class="flex items-center space-x-2">
    <button mat-icon-button class="header-back-button" (click)="goBack()">
      <mat-icon>chevron_left</mat-icon>
    </button>
    <span class="form-header-heading">Price List Item</span>
  </div>

  <div class="flex items-center space-x-4 flex items-center space-x-2 ml-auto mt-2 sm:mt-0">
    @if(isEditMode){
      <button type = "button" mat-flat-button (click)="addPriceListItem()" class="!py-1 !px-4 text-sm action-button primary-btn">
        <mat-icon class="mr-1">add</mat-icon>
        Add Price List Item
      </button>
    }
    <button type="submit" mat-flat-button ngClass="save-btn" class="!py-1 !px-4 text-sm save-btn"
      (click)="submitForm()">
      Save
    </button>

    <button mat-icon-button [matMenuTriggerFor]="actionMenu">
      <mat-icon class="hover:text-blue-600 transition-colors icon-action-button">keyboard_arrow_down</mat-icon>
    </button>

    <mat-menu #actionMenu="matMenu">
      <button mat-menu-item (click)="submitForm(true)">
        <span>Save &amp; Close</span>
      </button>

      <ng-container *ngIf="isEditMode">
        <button mat-menu-item *ngIf="statusValue === 'Inactive'" (click)="activatePriceListItem()">
          <span>Activate</span>
        </button>

        <button mat-menu-item *ngIf="statusValue === 'Active'" (click)="deactivatePriceListItem()">
          <span>Deactivate</span>
        </button>

        <button mat-menu-item (click)="deletePriceListItem()">
          <span>Delete</span>
        </button>
      </ng-container>
    </mat-menu>
  </div>
</div>

<div class="bg-white p-4 rounded-lg shadow-sm border border-gray-200 bg-card-color mid-body-scrollable-height">
  <form [formGroup]="priceListItemForm">

    <!-- Section 1: Price List Item Information -->
    <h3 class="text-lg font-bold text-gray-900 mb-4 uppercase tracking-wide">
      Price List Item Information
    </h3>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-x-4 gap-y-0 mb-6">

      <!-- Product -->
      <div class="space-y-2 custom-text-box">
        <label class="block text-sm font-medium text-gray-700">Product <span class="text-red-500">*</span></label>
        <mat-form-field appearance="outline" class="w-full form-input form-input-text">
          <mat-select formControlName="productId" placeholder="Select Product">
            <mat-option *ngFor="let product of products" [value]="product.id">{{ product.name }}</mat-option>
          </mat-select>
          <mat-error *ngIf="priceListItemForm.get('productId')?.hasError('required')">
            Product is required
          </mat-error>
        </mat-form-field>
      </div>

      <!-- Pharmacy -->
      <div class="space-y-2 custom-text-box">
        <label class="block text-sm font-medium text-gray-700">Pharmacy <span class="text-red-500">*</span></label>
        <mat-form-field appearance="outline" class="w-full form-input form-input-text">
          <mat-select formControlName="pharmacyId" placeholder="Select Pharmacy">
            <mat-option *ngFor="let pharmacy of pharmacies" [value]="pharmacy.id">{{ pharmacy.name }}</mat-option>
          </mat-select>
          <mat-error *ngIf="priceListItemForm.get('pharmacyId')?.hasError('required')">
            Pharmacy is required
          </mat-error>
        </mat-form-field>
      </div>

      <!-- Currency -->
      <div class="space-y-2 custom-text-box">
        <label class="block text-sm font-medium text-gray-700">Currency</label>
        <mat-form-field appearance="outline" class="w-full form-input form-input-text">
          <mat-select formControlName="currencyId" placeholder="Select Currency" [disabled]="true">
            <mat-option *ngFor="let currency of currencies" [value]="currency.id">{{ currency.currencyName
              }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <!-- Amount -->
      <div class="space-y-2 custom-text-box">
        <label class="block text-sm font-medium text-gray-700">Amount <span class="text-red-500">*</span></label>
        <mat-form-field appearance="outline" class="w-full form-input form-input-text">
          <input matInput formControlName="amount" type="number" (keydown)="preventNonNumeric($event)"
            placeholder="Enter amount" class="text-sm">
          <mat-error *ngIf="priceListItemForm.get('amount')?.hasError('required')">
            Amount is required
          </mat-error>
          <mat-error *ngIf="priceListItemForm.get('amount')?.hasError('invalidNumber')">
            Only numbers allowed
          </mat-error>
        </mat-form-field>
      </div>

      <!-- Cost of Product -->
      <div class="space-y-2 custom-text-box">
        <label class="block text-sm font-medium text-gray-700">Cost of Product</label>
        <mat-form-field appearance="outline" class="w-full form-input form-input-text">
          <input matInput formControlName="costOfProduct" type="number" (keydown)="preventNonNumeric($event)"
            placeholder="Enter cost" class="text-sm">
          <mat-error *ngIf="priceListItemForm.get('costOfProduct')?.hasError('invalidNumber')">
            Only numbers allowed
          </mat-error>
        </mat-form-field>
      </div>

      <!-- Status -->
      <div class="space-y-2 custom-text-box">
        <label class="block text-sm font-medium text-gray-700">Status</label>
        <mat-form-field appearance="outline" class="w-full form-input form-input-text">
          <mat-select formControlName="status" placeholder="Select status" [disabled]="true">
            <mat-option value="Active">Active</mat-option>
            <mat-option value="Inactive">Inactive</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="border-b mt-1 my-6"></div>

    <!-- Section 2: LifeFile Information -->
    <h3 class="text-lg font-bold text-gray-900 mb-4 uppercase tracking-wide">
      LifeFile Information
    </h3>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-x-4 gap-y-0 mb-6">

      <div class="space-y-2 custom-text-box">
        <label class="block text-sm font-medium text-gray-700">LifeFile Pharmacy Product ID</label>
        <mat-form-field appearance="outline" class="w-full form-input form-input-text">
          <input matInput formControlName="lifeFilePharmacyProductId" placeholder="Enter ID" class="text-sm">
        </mat-form-field>
      </div>

      <div class="space-y-2 custom-text-box">
        <label class="block text-sm font-medium text-gray-700">LifeFile Foreign PMS ID</label>
        <mat-form-field appearance="outline" class="w-full form-input form-input-text">
          <input matInput formControlName="lifeFielForeignPmsId" placeholder="Enter ID" class="text-sm">
        </mat-form-field>
      </div>

      <div class="space-y-2 custom-text-box">
        <label class="block text-sm font-medium text-gray-700">LifeFile Drug Form</label>
        <mat-form-field appearance="outline" class="w-full form-input form-input-text">
          <mat-select formControlName="lifeFileDrugFormId" placeholder="Select Drug Form">
            <mat-option [value]="null">None</mat-option>
            <mat-option *ngFor="let form of lifeFileDrugForms" [value]="form.id">{{ form.name }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="space-y-2 custom-text-box">
        <label class="block text-sm font-medium text-gray-700">LifeFile Drug Name</label>
        <mat-form-field appearance="outline" class="w-full form-input form-input-text">
          <input matInput formControlName="lifeFileDrugName" placeholder="Enter drug name" class="text-sm">
        </mat-form-field>
      </div>

      <div class="space-y-2 custom-text-box">
        <label class="block text-sm font-medium text-gray-700">LifeFile Drug Strength</label>
        <mat-form-field appearance="outline" class="w-full form-input form-input-text">
          <input matInput formControlName="lifeFileDrugStrength" placeholder="Enter strength" class="text-sm">
        </mat-form-field>
      </div>

      <div class="space-y-2 custom-text-box">
        <label class="block text-sm font-medium text-gray-700">LifeFile Quantity Units</label>
        <mat-form-field appearance="outline" class="w-full form-input form-input-text">
          <mat-select formControlName="lifeFileQuantityUnitId" placeholder="Select unit">
            <mat-option [value]="null">None</mat-option>
            <mat-option *ngFor="let unit of lifeFileQuantityUnits" [value]="unit.id">{{ unit.name }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="space-y-2 custom-text-box">
        <label class="block text-sm font-medium text-gray-700">LifeFile Schedule Code</label>
        <mat-form-field appearance="outline" class="w-full form-input form-input-text">
          <mat-select formControlName="lifeFileScheduleCodeId" placeholder="Select code">
            <mat-option [value]="null">None</mat-option>
            <mat-option *ngFor="let code of lifeFileScheduleCodes" [value]="code.id">{{ code.name }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </form>
</div>