/* Subtle custom scrollbar */
.thin-scroll::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.thin-scroll::-webkit-scrollbar-thumb {
    background: #e5e7eb;
    border-radius: 9999px;
}

.thin-scroll::-webkit-scrollbar-track {
    background: transparent;
}

/* Tiny utilities used in template */
.text-xxs {
    font-size: 0.65rem;
    line-height: 1rem;
}

/* typing dots */
.dot {
    width: 6px;
    height: 6px;
    border-radius: 9999px;
    background: #818cf8;
    /* indigo-400 */
    display: inline-block;
    animation: pulse 1s infinite ease-in-out;
}

.dot.delay-100 {
    animation-delay: .1s;
}

.dot.delay-200 {
    animation-delay: .2s;
}

@keyframes pulse {

    0%,
    100% {
        opacity: .35;
        transform: translateY(0);
    }

    50% {
        opacity: 1;
        transform: translateY(-2px);
    }
}