<ng-container [ngSwitch]="tag">
  <label *ngSwitchCase="'label'" [attr.for]="forId" [ngClass]="class">
    {{ text }}
    <span *ngIf="required" class="text-red-500">*</span>
    <mat-icon *ngIf="tooltip" matTooltip="{{ tooltip }}" class="ml-1 text-base cursor-help">info</mat-icon>
  </label>

  <div *ngSwitchCase="'div'" [ngClass]="class">
    {{ text }}
    <span *ngIf="required" class="text-red-500">*</span>
    <mat-icon *ngIf="tooltip" matTooltip="{{ tooltip }}" class="ml-1 text-base cursor-help">info</mat-icon>
  </div>

  <span *ngSwitchCase="'span'" [ngClass]="class">
    {{ text }}
    <span *ngIf="required" class="text-red-500">*</span>
    <mat-icon *ngIf="tooltip" matTooltip="{{ tooltip }}" class="ml-1 text-base cursor-help">info</mat-icon>
  </span>
</ng-container>
