<app-patient-navigation-bar [isEditMode]="true" [isSaving]="false" [isActive]="undefined" [patientId]="patientId"
  (close)="onClose()" [activeView]="'appointments'" (save)="onSubmit()" (addPatient)="onClickAddPatient()"
  (saveAndClose)="onSaveAndClose()" (toggleActiveStatus)="togglePatientActiveStatus($event)">
</app-patient-navigation-bar>


<div class="bg-white rounded-[16px] shadow-sm border border-gray-200 p-6 bg-card-color">
  <!-- Header -->
  <div class="flex items-center justify-between mb-6 flex-wrap gap-4 table-view-header">
    <div class="flex items-center">
      <h2 class="list-page-heading">Appointments</h2>
      <div class="flex items-center space-x-3 filter-input search-box search-box-dsk">
        <div class="relative ml-6">
          <mat-icon class="absolute left-3 top-1/2 transform -translate-y-1/2 text-gray-400">search</mat-icon>
          <input matInput type="text" placeholder="Filter by keywords" [(ngModel)]="searchKeyword"
            (input)="applyFilter()" [disabled]="isLoading()"
            class="pl-10 pr-4 py-2 border border-gray-300 rounded-md focus:ring-2 focus:ring-blue-500 w-64" />
        </div>
      </div>
    </div>
    <div class="flex items-center gap-4 justify-end ml-auto">
      <button mat-flat-button [disabled]="isLoading()" class="flex items-center text-blue-600 primary-btn-add" (click)="onAdd()">
        <mat-icon class="mr-1">add</mat-icon>
        Add Appointments
      </button>
    </div>
    <div class="flex items-center space-x-3 w-full filter-input search-box-mb">
      <!-- Search Input -->
      <div class="relative">
        <mat-icon class="absolute left-3 top-1/2 transform -translate-y-1/2 text-gray-400">search</mat-icon>
        <input matInput type="text" placeholder="Filter by keywords" [(ngModel)]="searchKeyword" (input)="applyFilter()"
          [disabled]="isLoading()"
          class="pl-10 text-left pr-4 py-2 border border-gray-300 rounded-md w-full bg-transparent disabled:bg-transparent disabled:opacity-50 disabled:cursor-not-allowed !bg-transparent" />

      </div>
    </div>
  </div>


  <!-- Loading Overlay -->
  <div *ngIf="isLoading()"
    class="absolute inset-0 bg-white bg-opacity-75 flex items-center justify-center z-10 rounded-lg">
    <mat-spinner diameter="40"></mat-spinner>
  </div>

  <!-- Table -->
  <div class="relative overflow-x-auto custom-table-view" [class.opacity-50]="isLoading()">
    <table mat-table [dataSource]="dataSource" matSort class="w-full custom-table">

      <ng-container matColumnDef="doctorName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="!text-xs !font-medium !text-gray-500">
          Doctor
        </th>
        <td mat-cell *matCellDef="let row" class="!text-sm !text-gray-900">
          {{ row.doctorName }}
        </td>
      </ng-container>

      <ng-container matColumnDef="counselorName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="!text-xs !font-medium !text-gray-500">
          Counselor
        </th>
        <td mat-cell *matCellDef="let row" class="!text-sm !text-gray-900">
          {{ row.counselorName }}
        </td>
      </ng-container>

      <ng-container matColumnDef="serviceName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="!text-xs !font-medium !text-gray-500">
          Service
        </th>
        <td mat-cell *matCellDef="let row" class="!text-sm !text-gray-900">
          {{ row.serviceName }}
        </td>
      </ng-container>

      <ng-container matColumnDef="doctorStartDateTime">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="!text-xs !font-medium !text-gray-500">
          Start Time
        </th>
        <td mat-cell *matCellDef="let row" class="!text-sm !text-gray-900">
          {{ row.doctorStartDateTime }}
        </td>
      </ng-container>

      <ng-container matColumnDef="doctorEndDateTime">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="!text-xs !font-medium !text-gray-500">
          End Time
        </th>
        <td mat-cell *matCellDef="let row" class="!text-sm !text-gray-900">
          {{ row.doctorEndDateTime }}
        </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="!text-xs !font-medium !text-gray-500">
          Status
        </th>
        <td mat-cell *matCellDef="let row" class="!text-sm !text-gray-900">
          {{ row.status }}
        </td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="!text-xs !font-medium !text-gray-500">
          Description
        </th>
        <td mat-cell *matCellDef="let row" class="!text-sm !text-gray-900">
          {{ row.description }}
        </td>
      </ng-container>

      <!-- Header and Row -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns" class="!bg-gray-50/50"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"
        class="hover:bg-gray-50/50 transition-colors !border-b !border-gray-100"></tr>
    </table>
  </div>

  <!-- Empty State -->
  <div *ngIf="!isLoading() && dataSource.filteredData.length === 0 " class="text-center py-12">
    <div class="flex flex-col items-center">
      <div class="w-12 h-12 bg-gray-100 rounded-full flex items-center justify-center mb-4">
        <mat-icon class="text-gray-400 text-xl">note_add</mat-icon>
      </div>
      <h3 class="text-sm font-medium text-gray-900 mb-1">No Appointments found</h3>
    </div>
  </div>

  <!-- Paginator -->
  <div class="main-paginator">
    <div class="p-0 paginator-section">
      <mat-paginator #paginator [pageSizeOptions]="[5, 10, 20, 30]" [pageSize]="5" [showFirstLastButtons]="true"
        [length]="dataSource.filteredData.length || 0" [disabled]="isLoading()" class="disabled:opacity-50">
      </mat-paginator>
    </div>
  </div>
</div>
